[project]
name = "singlestore_mcp_server"
dynamic = ["version"]
description = "SingleStore MCP server"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
 "mcp>=1.3.0",
 "s2-ai-tools>=1.0.6",
 "singlestoredb>=1.12.0",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.version]
path = "src/server/version.py"

[tool.hatch.build.targets.wheel]
packages = ["src/server"]

[project.scripts]
singlestore-mcp-server = "server:main"
